---
apiVersion: v1
kind: Service
metadata:
  name: '{{ service }}-{{ cluster_name }}'
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  ports:
    - protocol: TCP
      port: {{ tsc_service_port | int }}
      targetPort: {{ f5_ingress_port | int }}
