---
apiVersion: cis.f5.com/v1
kind: TransportServer
metadata:
  labels:
    f5cr: "{{ f5cr_label }}"
  name: {{ ansible_operator_meta.name }}
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  virtualServerAddress: {{ f5_ingress_ip }}
  virtualServerPort: {{ f5_ingress_port | int }}
  mode: performance
  snat: auto
  pool:
    service: {{ service }}
    servicePort: {{ service_port | int }}
    monitor:
      type: {{ monitor.type }}
      interval: {{ monitor.interval | int }}
      timeout: {{ monitor.timeout | int }}
